html, body {
    height: 100%;
    width: 100%;
}

body {
	font-family: 'Arvo', serif !important;
    margin-top: 20px;
}

p {
	font-family: 'Arvo', serif !important;
}

label, input, button, select, textarea {
	font-family: 'Arvo', serif !important;
}

a:visited {
	color: #56B4E9;
}

a {
	color: #56B4E9;
	text-decoration: none;
}

a.btn-danger {
	color: white;
}

.hero-unit h1 {
	font-size: 75px;
}

.hero-unit p {
	font-size: 20px;
}

.container > footer {
    margin-top: 50px;
    font-size: 40px;
}

.container > footer a {
    display: block;
    text-align: center;
}

.navbar .navbar-inner {
	padding-bottom: 3px;
}

.highlight {
    -webkit-animation: target-fade 3s 1;
    -moz-animation: target-fade 3s 1;
    border-radius: 5px;
    padding: 1px;
}

.navbar small {
	font-size: 10px;
	color: #BFBFBF;
}

.session {
    width: 100px;
    float: right;
    margin-top: 4px;
    text-align: center;
}

.center {
	margin: 0 auto;
}

.centerT {
	text-align: center;
}

.righty {
	text-align: right;
}

.container .page-header {
	margin-top: 30px;
}

.alert .hero-unit {
	background-color: transparent;
}

.alert .hero-unit p{
	margin-top: 10px;
}

.row {
	margin-bottom: 30px;
}

.wrapper {
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */
    line-height: 20px;
    margin-bottom: 2px;
}

@-webkit-keyframes target-fade {
    0% { background-color: rgba(255,241,194,1); }
    100% { background-color: rgba(0,0,0,0); }
}
@-moz-keyframes target-fade {
    0% { background-color: rgba(255,181,21,1); }
    100% { background-color: rgba(0,0,0,0); }
}